<h1>Listing sightings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Sighted</th>
    <th>Visibility</th>
    <th>Comments</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sightings.each do |sighting| %>
  <tr>
    <td><%= sighting.user.name %></td>
    <td><%= sighting.sighted %></td>
    <td><%= sighting.visibility %></td>
    <td><%= sighting.comments %></td>
    <td>
        <% if sighting.photo.to_s != '/photos/original/missing.png' %>
            <img src="<%= sighting.photo %>" width="100px" height="100px"/>
        <% end %>
    </td>
    <td><%= link_to 'Show', sighting %></td>
    <td><%= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sighting', new_sighting_path %>
