	<div id="map-canvas" style="float:left; padding:50px;width:50%"></div>
	<% content_for :end_matter do %>
	  <%= javascript_include_tag "sightings_map" %>
	<% end %>
<div style=" float:left;padding-right:50px; padding-left:20px;width:30%;background-color: rgb(205, 205, 241);height: 400px">
<h1>New sighting</h1>
<%= simple_form_for @sighting do |f| %>
  <%= f.input :visibility, :as => :select, :collection => ['Poor', 'Fair', 'Good', 'Excellent'], :class => "label", :label => 'How visible was the moon?' %>
  <%= f.input :sighted, :class => "input", :label => 'Was the moon sighted?' %>
  <%= f.input :latitude, :class => "input", :as => :hidden %>
  <%= f.input :longitude, :class => "input", :as => :hidden %>
  <%= f.input :comments, :as => :text, :class => "input" %>
  <%= f.file_field :photo %>
  <br/>
  <br/>
  <%= f.button :submit, :class => "create" %>
<% end %>

<%= link_to 'Back', sightings_path %>
<script>
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} else {
    alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
}
function errorFunction() {
    alert('Error: It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
}
function successFunction(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    document.getElementById('sighting_latitude').value = lat;
    document.getElementById('sighting_longitude').value = lng;
    console.log('Your latitude is :'+lat+' and longitude is '+lng);
}
</script>
</div>