	<div id="map-canvas" style="float:left; padding:50px;width:50%"></div>
	<% content_for :end_matter do %>
	  <%= javascript_include_tag "sightings_map" %>
	<% end %>
<div style=" float:left;padding-right:50px; padding-left:20px;width:30%;background-color: rgb(205, 205, 241);height: 400px">
<p id="notice"><%= notice %></p>

<p>
  <b>Sighted:</b>
  <%= @sighting.sighted %>
</p>

<p>
  <b>Visibility:</b>
  <%= @sighting.visibility %>
</p>

<p>
  <b>Comments:</b>
  <%= @sighting.comments %>
</p>

<p>
  <b>Photo:</b>
        <% if @sighting.photo.to_s != '/photos/original/missing.png' %>
            <img src="<%= @sighting.photo %>" width="100px" height="100px"/>
        <% end %>
</p>


<%= link_to 'Back', sightings_path %>
</div>