<h1>New user</h1>

<%= form_for @user do |f| %>
	<%= error_messages_for @user %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
<%= f.submit %>

<% end %>

<%= render "devise/shared/links" %>