  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><img height="400px" width="500px" src="/assets/moonphases/<%= phase_value(@fullness_today.getPercent.to_i).sub('_', '') %>.jpg"/></td>
		<td>
			<table valign="top" style="padding-left: 10px">
				<tr>
					<td>
						<h2 style="margin-top: -135px">Moonphase Information for <%= @now.strftime("%d %b %Y") %></h2>
					</td>
				</tr>
				<tr>
					<td><%= phase_value(@fullness_today.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_today.getPercent.to_i %>% illumination)
						<form action="/moonphases/change_date">
							<p>Change date: <input type="text" id="datepicker" name="date" /></p>	
							<input type="submit"/>
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table>
				<tr>
					<td>
						<p>
						<img height="100px" width="150px" src="/assets/moonphases/<%= phase_value(@fullness_yesterday.getPercent.to_i).sub('_', '') %>.jpg"/>
						</p>
						<p><%= @yesterday.strftime("%d %b %Y") %>,<br/> <%= phase_value(@fullness_yesterday.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_yesterday.getPercent.to_i %>%)</p>
					</td>
					<td>
						<p>
						<img height="100px" width="150px" src="/assets/moonphases/<%= phase_value(@fullness_today.getPercent.to_i).sub('_', '') %>.jpg"/>
						</p>
						<p><%= @now.strftime("%d %b %Y") %>, <br/><%= phase_value(@fullness_today.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_today.getPercent.to_i %>%)</p>
					</td>
					<td>
						<p>
						<img height="100px" width="150px" src="/assets/moonphases/<%= phase_value(@fullness_tomorrow.getPercent.to_i).sub('_', '') %>.jpg"/>
						</p>
						<p><%= @tomorrow.strftime("%d %b %Y") %>, <br/><%= phase_value(@fullness_tomorrow.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_tomorrow.getPercent.to_i %>%)</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

