<h1>Moonphase Information for <%= Date.today %></h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><img height="400px" width="500px" src="/assets/moonphases/<%= phase_value(@fullness_today.getPercent.to_i).sub('_', '') %>.jpg"/></td>
		<td>
			<table>
				<tr>
					<td><%= phase_value(@fullness_today.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_today.getPercent.to_i %>% illumination)</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table>
				<tr>
					<td>
						<p>
						<img height="100px" width="150px" src="/assets/moonphases/<%= phase_value(@fullness_yesterday.getPercent.to_i).sub('_', '') %>.jpg"/>
						</p>
						<p>Yesterday,<br/> <%= phase_value(@fullness_yesterday.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_yesterday.getPercent.to_i %>%)</p>
					</td>
					<td>
						<p>
						<img height="100px" width="150px" src="/assets/moonphases/<%= phase_value(@fullness_today.getPercent.to_i).sub('_', '') %>.jpg"/>
						</p>
						<p><%= @now %>, <br/><%= phase_value(@fullness_today.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_today.getPercent.to_i %>%)</p>
					</td>
					<td>
						<p>
						<img height="100px" width="150px" src="/assets/moonphases/<%= phase_value(@fullness_tomorrow.getPercent.to_i).sub('_', '') %>.jpg"/>
						</p>
						<p>Tomorrow, <br/><%= phase_value(@fullness_tomorrow.getPercent.to_i).sub('_', ' ') %> (<%= @fullness_tomorrow.getPercent.to_i %>%)</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

